@switch (ConnectionType)
{
    @* Email Connections *@
    case "Bluefish.Connections.Email.SendGridConnection, Bluefish.Connections":
        <SendGridSettings CanEdit="CanEdit"
                          CssClass="@CssClass"
                          Settings="@Settings"
                          SettingsChanged="OnSettingsChanged">
        </SendGridSettings>
        break;

    case "Bluefish.Connections.Email.SmtpConnection, Bluefish.Connections":
        <SmtpSettings CanEdit="CanEdit"
                      CssClass="@CssClass"
                      Settings="@Settings"
                      SettingsChanged="OnSettingsChanged">
        </SmtpSettings>
        break;

    case "Bluefish.Connections.Email.Office365UserEmailConnection, Bluefish.Connections":
        <Office365UserEmailSettings CanEdit="CanEdit"
                      CssClass="@CssClass"
                      Settings="@Settings"
                      SettingsChanged="OnSettingsChanged">
        </Office365UserEmailSettings>
        break;

    @* File Connections *@
    case "Bluefish.Connections.File.DigitalOceanSpacesConnection, Bluefish.Connections":
        <DigitalOceanSpacesSettings CanEdit="CanEdit"
                                    CssClass="@CssClass"
                                    Settings="@Settings"
                                    SettingsChanged="OnSettingsChanged">
        </DigitalOceanSpacesSettings>
        break;

    case "Bluefish.Connections.File.DropboxConnection, Bluefish.Connections":
        <DropboxSettings CanEdit="CanEdit"
                         CssClass="@CssClass"
                         Settings="@Settings"
                         SettingsChanged="OnSettingsChanged">
        </DropboxSettings>
        break;

    case "Bluefish.Connections.File.FtpConnection, Bluefish.Connections":
        <FtpSettings CanEdit="CanEdit"
                     CssClass="@CssClass"
                     Settings="@Settings"
                     SettingsChanged="OnSettingsChanged">
        </FtpSettings>
        break;

    case "Bluefish.Connections.File.LocalFileSystemConnection, Bluefish.Connections":
        <LocalFileSystemSettings CanEdit="CanEdit"
                                 CssClass="@CssClass"
                                 Settings="@Settings"
                                 SettingsChanged="OnSettingsChanged">
        </LocalFileSystemSettings>
        break;

    case "Bluefish.Connections.File.OneDriveConnection, Bluefish.Connections":
        <OneDriveSettings CanEdit="CanEdit"
                          CssClass="@CssClass"
                          Settings="@Settings"
                          SettingsChanged="OnSettingsChanged">
        </OneDriveSettings>
        break;

    case "Bluefish.Connections.File.WindowsShareConnection, Bluefish.Connections":
        <WindowsShareSettings CanEdit="CanEdit"
                              CssClass="@CssClass"
                              Settings="@Settings"
                              SettingsChanged="OnSettingsChanged">
        </WindowsShareSettings>
        break;

    @* SQL Connections *@
    case "Bluefish.Connections.Sql.PostgreSqlConnection, Bluefish.Connections":
        <PostgreSqlSettings CanEdit="CanEdit"
                            CssClass="@CssClass"
                            Settings="@Settings"
                            SettingsChanged="OnSettingsChanged">
        </PostgreSqlSettings>
        break;

    case "Bluefish.Connections.Sql.SqlServerConnection, Bluefish.Connections":
        <SqlServerSettings CanEdit="CanEdit"
                           CssClass="@CssClass"
                           Settings="@Settings"
                           SettingsChanged="OnSettingsChanged">
        </SqlServerSettings>
        break;

    case "Bluefish.Connections.Sql.OdbcConnection, Bluefish.Connections":
        <OdbcSettings CanEdit="CanEdit"
                           CssClass="@CssClass"
                           Settings="@Settings"
                           SettingsChanged="OnSettingsChanged">
        </OdbcSettings>
        break;

    default:
        @if (ChildContent is null)
        {
            <div></div>
        }
        else
        {
            @ChildContent
        }
        break;
}