@inherits SettingsBase<DigitalOceanSpacesConnection>

<div class="@CssClass">
    <label class="form-label">Service Url</label>
    <InputText autocomplete="off"
               disabled="@(!CanEdit)"
               ValueExpression="@(() => _connection.ServiceUrl)"
               Value="@_connection.ServiceUrl"
               ValueChanged="(v) => OnValueChanged(x => x.ServiceUrl, v)"
               class="form-control form-control-sm" />
</div>

<div class="@CssClass">
    <label class="form-label">Space Name</label>
    <InputText autocomplete="off"
               disabled="@(!CanEdit)"
               ValueExpression="@(() => _connection.SpaceName)"
               Value="@_connection.SpaceName"
               ValueChanged="(v) => OnValueChanged(x => x.SpaceName, v)"
               class="form-control form-control-sm" />
</div>

<div class="@CssClass">
    <label class="form-label">Access Key</label>
    <InputText autocomplete="off"
               disabled="@(!CanEdit)"
               ValueExpression="@(() => _connection.AccessKey)"
               Value="@_connection.AccessKey"
               ValueChanged="(v) => OnValueChanged(x => x.AccessKey, v)"
               class="form-control form-control-sm" />
</div>

<div class="@CssClass">
    <label class="form-label">Secret</label>
    <InputText autocomplete="off"
               disabled="@(!CanEdit)"
               type="password"
               ValueExpression="@(() => _connection.Secret)"
               Value="@_connection.Secret"
               ValueChanged="(v) => OnValueChanged(x => x.Secret, v)"
               class="form-control form-control-sm" />
</div>
