@inherits SettingsBase<OdbcConnection>

<div class="@CssClass">
    <label class="form-label">Driver</label>
    <InputText ValueExpression="@(() => _connection.Driver)"
               Value="@_connection.Driver"
               ValueChanged="(v) => OnValueChanged(x => x.Driver, v)"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <div class="form-text">Optional ODBC driver to use</div>
    <ValidationMessage For="() => _connection.Driver" />
</div>

<div class="@CssClass">
    <label class="form-label">Data Source Name (DSN)</label>
    <InputText ValueExpression="@(() => _connection.Dsn)"
               Value="@_connection.Dsn"
               ValueChanged="(v) => OnValueChanged(x => x.Dsn, v)"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.Dsn" />
</div>

<div class="@CssClass">
    <label class="form-label">User Id</label>
    <InputText ValueExpression="@(() => _connection.UserId)"
               Value="@_connection.UserId"
               ValueChanged="(v) => OnValueChanged(x => x.UserId, v)"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.UserId" />
</div>

<div class="@CssClass">
    <label class="form-label">Password</label>
    <InputText ValueExpression="@(() => _connection.Password)"
               Value="@_connection.Password"
               ValueChanged="(v) => OnValueChanged(x => x.Password, v)"
               type="password"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.Password" />
</div>