@inherits SettingsBase<PostgreSqlConnection>

<div class="@CssClass">
    <label class="form-label">Host</label>
    <InputText ValueExpression="@(() => _connection.Host)"
               Value="@_connection.Host"
               ValueChanged="(v) => OnValueChanged(x => x.Host, v)"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.Host" />
</div>

<div class="@CssClass">
    <label class="form-label">Port</label>
    <InputNumber TValue="int"
                 ValueExpression="@(() => _connection.Port)"
                 Value="@_connection.Port"
                 ValueChanged="(v) => OnValueChanged(x => x.Port, v)"
                 class="form-control form-control-sm"
                 disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.Port" />
</div>

<div class="@CssClass">
    <label class="form-label">Database</label>
    <InputText ValueExpression="@(() => _connection.Database)"
               Value="@_connection.Database"
               ValueChanged="(v) => OnValueChanged(x => x.Database, v)"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.Database" />
</div>

<div class="@CssClass">
    <label class="form-label">User Id</label>
    <InputText ValueExpression="@(() => _connection.UserId)"
               Value="@_connection.UserId"
               ValueChanged="(v) => OnValueChanged(x => x.UserId, v)"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.UserId" />
</div>

<div class="@CssClass">
    <label class="form-label">Password</label>
    <InputText ValueExpression="@(() => _connection.Password)"
               Value="@_connection.Password"
               ValueChanged="(v) => OnValueChanged(x => x.Password, v)"
               class="form-control form-control-sm"
               type="password"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.Password" />
</div>

<div class="@CssClass">
    <label class="form-label">Connection Timeout</label>
    <InputNumber TValue="int"
                 ValueExpression="@(() => _connection.ConnectionTimeout)"
                 Value="@_connection.ConnectionTimeout"
                 ValueChanged="(v) => OnValueChanged(x => x.ConnectionTimeout, v)"
                 class="form-control form-control-sm"
                 disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.ConnectionTimeout" />
</div>

<div class="@CssClass">
    <label class="form-label">SSL Mode</label>
    <InputSelect TValue="string"
                 ValueExpression="@(() => _connection.SslMode)"
                 Value="@_connection.SslMode"
                 ValueChanged="(v) => OnValueChanged(x => x.SslMode, v)"
                 class="form-control form-control-sm"
                 disabled="@(!CanEdit)">
        <option value="Disable">Disable</option>
        <option value="Allow">Allow</option>
        <option value="Prefer">Prefer</option>
        <option value="Require">Require</option>
        <option value="VerifyCA">Verify-CA</option>
        <option value="VerifyFull">Verify-Full</option>
    </InputSelect>
    <ValidationMessage For="() => _connection.SslMode" />
</div>